extends include/layout
block content
	.detail_box
		//路由
		.route.wrap
			a(href="index.html") 荔秀服饰首页
			span >
			a(href="brand.html") 品牌汇
			span >
			a(href="brand_1.html") GINAKAI
			span >
			a(href="javascript:") 2016欧洲站弹力柯根纱长袖连衣裙 夏季欧美新款蕾丝镂空连衣裙
		//展示详情
		.show.wrap
			.show_goods_MX
				img(src="image/details/pic_goods_MX.jpg")
			.show_goods.fl
				img(src="image/details/pic_goods.jpg")
				a.icon_zoom(href="javascript:")
					img(src="image/details/icon_zoom.jpg")
			.show_details.fr
				.title
					| 2016欧洲站弹力柯根纱长袖连衣裙 夏季欧美新款蕾丝镂空连衣裙
				.brand
					//- span 该产品属
					.brand_logo
						img(src="image/details/brand_logo.jpg")
					.name GINAKAI 东润旗下子品牌
					.text.
						深圳市东润服饰有限公司是一家集自主研发设计、生产、销售为一体的国际化时装公司，公司拥有完整、科学的质量管理体系，拥有优质的产品质量,广阔的市场前景,丰厚的批发代理待遇,强大的批发代理优势，深圳市东润服饰有限公司的诚信、实力和产品质量是的获得业界的认可。欢迎各界朋友莅临参观、指导和业务洽谈。
			.clear
		//详细信息
		.detail.wrap
			.tab
				a(href="javascript:") 热卖推荐
				a(href="javascript:") 商品详情
				a(href="javascript:") 留言咨询
				.clear
			//热卖推荐
			.list
				.title
					img(src="image/details/title_hot.jpg")
				.content
					- for(i = 0; i < 4; i++){
						a.goods(href="javascript:")
							.goods_image
								img(src="image/details/pic_goods.jpg")
							.goods_title.
								欧洲站2016春季欧美新款印花长袖衬衫 大摆雪纺中长裙两件套装女
					- }
					.clear
			//商品详情
			.list
				.title
					img(src="image/details/title_xiangqing.jpg")
				.content
					img(src="image/details/pic_goods_MX.jpg")
					img(src="image/details/xiangqing.jpg")
			//- //商品介绍
			//- .list
			//- 	.title
			//- 		img(src="image/details/title_jieshao.jpg")
			//- 	.content
			//- 		p 由设计理念组成的文字文本
			//- //商品参数
			//- .list
			//- 	.title
			//- 		img(src="image/details/title_canshu.jpg")
			//- 	.content
			//- 		p 商品名称：
			//- 			span 欧洲站2016春季欧美新款印花长袖衬衫 大摆雪纺中长裙两件套装女
			//- 		p 分类：
			//- 			span 风衣
			//- 		p 退货政策：
			//- 			span 7天拆封无条件退货
			//- 		p 颜色米色：
			//- 			span undefined
			//- 		p 尺码：
			//- 			span s/m/l/xl
			//- 		p 材质：
			//- 			span 聚酯纤维
			//- 		p 款式：
			//- 			span 常规款
			//- 		p 风格：
			//- 			span 韩版时尚
			//- 		p 尺码表：
			//- 		p 
			//- 			img(src="image/details/pic_detail.jpg")
			//- 		p 其他说明：
			//- 		p 
			//- 			img(src="image/details/pic_shuoming.jpg")
			//留言咨询
			.list
				.title
					img(src="image/details/title_zixun.jpg")
				.content
					.message
						.text.fl [客户留言]很喜欢这个款式，寻求合作，改天到实体展厅看一下。
						.time.fr 2016-03-28 16:00:00
						.clear
					.message
						.text.fl [商户回复]欢迎！展厅地址在南油第一工业区104栋A101
						.time.fr 2016-03-28 16:10:00
						.clear
	script.
		$(function(){

			tab_jump()
			show_goods_MX()

			function tab_jump(){
				$('.tab a').on('click', function(){
					var _len = $(this).index()
					var _top = $('.detail .list').eq(_len).offset().top
					$('html,body').animate({
						'scrollTop': _top
					},500)
				})
			}
			function show_goods_MX(){
				$('.icon_zoom,.show_goods_MX').on('click', function(){
					$('.show_goods_MX').toggle()
				})
			}
		})

