.header
	.wrap
		.logo.fl
			img(src="image/logo.jpg")
		.search.fr
			.bar
				input.fl(type="text")
				a.btn.fr(href="javascript:") 搜&nbsp;&nbsp;索
				.clear
			.link
				a(href="javascript:") 女装
				a(href="javascript:") 女装
				a(href="javascript:") 女装
				a(href="javascript:") 女装
				a(href="javascript:") 女装
		.clear
.nav
	.wrap
		a(href="index.html") 首页
		a(href="clothes.html") 爆款馆
		a(href="brand.html") 品牌汇
		a(href="vip.html") VIP特权
		.clear