extends include/layout
block content
	.vip_zone.wrap
		.title
			span
			p VIP特权
		.vip_tips
			ul
				li
					img(src="image/vip/icon_1.jpg")
					.tips_title vip品牌汇尊享
					.tips_text
						span 直接入驻荔秀品牌汇，尊享
						span WEB、微信、阿里等线上多渠道
						span 营销平台。
				li
					img(src="image/vip/icon_2.jpg")
					.tips_title vip物流尊享
					.tips_text
						span 全国十大分仓，50平米
						span 半年免费仓储，代储代发，
						span 节省场地人员成本。
				li
					img(src="image/vip/icon_3.jpg")
					.tips_title vip订货尊享
					.tips_text
						span 原创设计直接接入平台主办各
						span 类型线上线下订货会，销售无忧；
						span 世界买手尊享品牌汇最新爆款，
						span 无需东奔西跑。
				li
					img(src="image/vip/icon_5.jpg")
					.tips_title vip推广尊享
					.tips_text
						span 尊享平台通过搜索引擎、媒体
						span 杂志、微信公众号、WEB平台、阿里
						span 等合作渠道的全方位营销所
						span 带来的品牌推广效应。
				li
					img(src="image/vip/icon_6.jpg")
					.tips_title vip营销尊享
					.tips_text
						span 您出产品我带单，无需任何销售
						span 人员，平台为您解决客户
						span 资源、客服资源、流通资源等
						span 各类环节，坐等其成。
				li
					img(src="image/vip/icon_4.jpg")
					.tips_title vip商圈尊享
					.tips_text
						span 涵盖纺织、工厂、面辅料厂商、工
						span 艺加工厂、设备厂商等服饰产业商
						span 圈，为您的原创出品保驾护航。
				.clear
		.title
			span
			p 产品服务
		.service
			.list
				img(src="image/vip/title_1.jpg")
				.service_title 投诉反馈
				.service_text
					p 人工受理产品、店铺、买手等各类问题的投诉，并及时响应及解决；提供7*12小时服务质量监督电话，对工作人员、产品有任何意见或建议均可拨打。
					span 投诉电话：
						span.c_app 0755 - 26402111
					span(style="margin-left:100px") 投诉邮箱：
						span.c_app tsfk@lyshowscn.com
			.list
				img(src="image/vip/title_2.jpg")
				.service_title 用户回访
				.service_text
					p 主动寻求用户需求、适时进行联系，解答用户在服饰批发零售上的疑难问题，倾听用户心声，并协助用户推广，根据客户实际情况给予建议。

	script.
		$(function(){
			this_page(3)
		})